name: pypi
on: [push]
jobs:
  pypi:
    if: "contains(github.event.head_commit.message, 'deploy-pypi')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install build
        run: pip install build
      - name: build
        run: python -m build python
      - name: deploy
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: python/dist/
  npm:
    if: "contains(github.event.head_commit.message, 'deploy-npm')"
    runs-on: denoland/deno:ubuntu
    steps:
      - uses: actions/checkout@v3
      - run: deno task build
      - run: cd dist/
      - run: ls
      - uses: actions/setup-node@v3
        with:
          registry-url: "https://registry.npmjs.org"
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
